<div class="container">
  <h1>Angular</h1>
  <h2>Test</h2>
<p>{{e | number:'2.2'}}</p>
  <p>{{str | uppercase | lowercase}}</p>
<p>{{str | titlecase | slice: 1}}</p>

  <p>{{date| date: 'fullDate'}}</p>

<p appStyle="green" fontWeight="bold" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus, assumenda.</p>

<button (click)="isVisible = !isVisible" >change</button>

    <ng-template [appIfnot]="isVisible">
    <div class="wrapp" >
      <p>11 ipsum, dolor sit amet consectetur adipisicing elit. Facere amet pariatur hic, natus mollitia veritatis magni adipisci error labore beatae.</p>
    </div>
  </ng-template>

  <div class="wrapp"  *appIfnot="isVisible">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere amet pariatur hic, natus mollitia veritatis magni adipisci error labore beatae.</p>
  </div>

<app-post-form
(onAdd)="updatePosts($event)"
></app-post-form>
<hr>

<app-post
*ngFor="let post of posts"
[myPost]="post"
(onDelete)="deletePost($event)"
>
  <div #info>
    <small *ngIf="post.text.length > 10; else short">Пост длинный</small>
    <ng-template #short>
      <small>Пост короткий</small>
    </ng-template>
  </div>
</app-post>
</div>
